<!--Waves Container-->
<div class="mx-5 mt-4 p-3 font-change center">
  <button (click)="goBack()" mat-icon-button matTooltip="Go to Previous page">
    <mat-icon>keyboard_backspace</mat-icon></button
  >Organization Chart
</div>
<div>
  <svg
    class="waves"
    style="z-index: 10; position: fixed"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        fill="rgba(179, 255, 200,0.5)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="3"
        fill="rgba(195, 35, 235,0.35)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="5"
        fill="rgba(45, 35, 235,0.2)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="7"
        fill="rgba(35, 138, 235,0.3)"
      />
    </g>
  </svg>
</div>

<!--Waves end-->
<div id="tree" style="z-index: 9"></div>
