<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="isExpanded">
    <div class="logo">
      <h1 class="font-bold">SPM</h1>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list *ngIf="isAdmin$ | async">
      <a mat-list-item [routerLink]="'/admin'"> Admin </a>
      <!-- <a mat-list-item [routerLink]="'/manager'"> Manager </a>
      <a mat-list-item [routerLink]="'/employee-dashboard'"> Employee </a>
      <a mat-list-item [routerLink]="'/employee-project-detail'">
        Employee Project Detail
      </a>
      <a mat-list-item [routerLink]="'/employee-issue-detail'">
        Employee Issue Detail
      </a>
      <a mat-list-item [routerLink]="'/employee-scrum-board'">
        Employee Scrum Board
      </a>
      <a mat-list-item [routerLink]="'/manager-issue-detail'">
        Manager Scrum Board
      </a> -->
    </mat-nav-list>

    <mat-nav-list *ngIf="isManager$ | async">
      <a mat-list-item (click)="openAddProjectDialog()">
        <mat-icon class="mr-2">work</mat-icon> Add Project
      </a>
      <!-- <a mat-list-item [routerLink]="'/manager'">
        <mat-icon class="mr-2">dashboard</mat-icon> Reports Dashboard
      </a>
      <a mat-list-item [routerLink]="'/manager'">
        <mat-icon class="mr-2">calendar_today</mat-icon> Calendar
      </a>
      <a mat-list-item [routerLink]="'/manager'"> Manager </a>

      <a mat-list-item [routerLink]="'/admin'"> Admin </a>
      <a mat-list-item [routerLink]="'/employee-dashboard'"> Employee </a>
      <a mat-list-item [routerLink]="'/employee-project-detail'">
        Employee Project Detail
      </a>
      <a mat-list-item [routerLink]="'/employee-issue-detail'">
        Employee Issue Detail
      </a>
      <a mat-list-item [routerLink]="'/employee-scrum-board'">
        Employee Scrum Board
      </a>
      <a mat-list-item [routerLink]="'/manager-scrum-board'">
        Manager Scrum Board
      </a> -->
    </mat-nav-list>

    <mat-nav-list *ngIf="!(isLoggedIn$ | async)">
      <a mat-list-item [routerLink]="'/login'"> Login </a>
      <a mat-list-item [routerLink]="'/signup'"> Signup </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="expand to view side navigation bar"
      >
        <mat-icon (click)="toggleSideNav()">menu</mat-icon>
      </button>
      <span class="px-2">SPM</span>
      <button
        mat-button
        [routerLink]="'/' + (currentUser$ | async)?.role | lowercase"
      >
        <mat-icon>home</mat-icon> Home
      </button>

      <!-- search -->
      <mat-form-field
        appearance="fill"
        class="searchForm"
        *ngIf="(isLoggedIn$ | async) && (isManager$ | async)"
      >
        <!-- <mat-label>Search</mat-label> -->
        <input
          type="text"
          matInput
          required
          placeholder="Search For Project/Task/User/Todo"
          [matAutocomplete]="searchGroup"
          (keyup)="search($event.target.value)"
        />

        <mat-autocomplete #searchGroup="matAutocomplete">
          <mat-optgroup
            *ngFor="let group of searchResults$ | async"
            [label]="group.type + 'S'"
          >
            <mat-option
              *ngFor="let data of group.data"
              [routerLink]="getRedirectLink(group.type, data)"
            >
              <span *ngIf="group.type === 'PROJECT'"
                ><mat-icon class="mr-2">work</mat-icon></span
              >
              <span *ngIf="group.type === 'TASK'"
                ><mat-icon>code</mat-icon>
              </span>
              <span *ngIf="group.type === 'USER'"
                ><mat-icon>person</mat-icon>
              </span>
              <span *ngIf="group.type === 'ISSUE'"
                ><mat-icon>cancel</mat-icon>
              </span>
              <span *ngIf="group.type === 'TODO'"
                ><mat-icon>check_circle</mat-icon>
              </span>
              {{ data.name }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
      <!-- end of search -->

      <span class="example-spacer"></span>

      <button
        mat-button
        routerLink="/profile"
        *ngIf="isLoggedIn$ | async"
        [matTooltip]="(currentUser$ | async)?.username"
      >
        <mat-icon>person</mat-icon>
        Profile
      </button>
      <button
        matTooltip="Notifications"
        mat-icon-button
        class="mr-4"
        (click)="toggleNotifications()"
      >
        <mat-icon matBadge="1" matBadgeColor="warn"
          >notification_important</mat-icon
        >
      </button>

      <div #notifications class="notification-overlay">
        <div class="notification-list">
          <mat-card class="notification-item" mat-ripple
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem,
            tempore!</mat-card
          >
        </div>
      </div>

      <button mat-button (click)="logout()" *ngIf="isLoggedIn$ | async">
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <button mat-button routerLink="/login">Login</button>
        <button mat-button routerLink="/signup">Register</button>
      </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
