.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 200px;
}

.logo {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 50px;
}

// notification

.notification-overlay {
  display: none;
  position: absolute;
  max-width: 400px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 50px;
  right: 0;
  background-color: #fbfbfb;
  color: black;
  z-index: 1;
  border-radius: 5px;
  .notification-item {
    white-space: pre-line;
    margin-bottom: 5px;
    font-size: medium;
    font-weight: normal;
    width: 100%;
  }
  .notification-item:hover {
    border-left: 5px solid red;
  }
}

::ng-deep .cdk-overlay-pane,
.searchForm {
  /* Do you changes here */
  min-width: 390px;
}
