<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
  integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
  crossorigin="anonymous"
/>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="isExpanded" *ngIf="isLoggedIn$ | async">
    <div class="logo">
      <img
        src="../../../assets/background-images/bg.png"
        alt="SPM logo"
        width="50"
        height="60"
      />
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list *ngIf="(currentUser$ | async)?.role === 'ADMIN'">
      <a mat-list-item [routerLink]="'/admin'">
        <mat-icon class="mr-2">person_outline</mat-icon>Admin
      </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="(currentUser$ | async)?.role === 'EMPLOYEE'">
      <a mat-list-item [routerLink]="'/employee'">
        <mat-icon class="mr-2">dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item [routerLink]="'/reporting'">
        <mat-icon class="mr-2"> bar_chart</mat-icon> Reporting Dashboard
      </a>
    </mat-nav-list>

    <mat-nav-list *ngIf="(currentUser$ | async)?.role === 'MANAGER'">
      <a mat-list-item (click)="openAddProjectDialog()">
        <mat-icon class="mr-2">work</mat-icon> Add Project
      </a>
      <a mat-list-item [routerLink]="'/manager'">
        <mat-icon class="mr-2">dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item [routerLink]="'/reporting'"
        ><mat-icon class="mr-2">timeline</mat-icon> Reporting Dashboard
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        *ngIf="isLoggedIn$ | async"
        mat-icon-button
        class="example-icon"
        aria-label="expand to view side navigation bar"
      >
        <mat-icon (click)="toggleSideNav()">menu</mat-icon>
      </button>
      <img
        src="../../../assets/background-images/bg.png"
        alt="SPM logo"
        width="50"
        height="60"
      />

      <button
        *ngIf="isLoggedIn$ | async"
        class="mx-2"
        mat-button
        [routerLink]="'/' + (currentUser$ | async)?.role | lowercase"
      >
        <mat-icon>home</mat-icon> Home
      </button>

      <!-- search -->
      <mat-form-field
        *ngIf="
          (isLoggedIn$ | async) && (currentUser$ | async)?.role !== 'ADMIN'
        "
        appearance="fill"
        class="searchForm"
      >
        <input
          type="search"
          matInput
          required
          placeholder="Search For Project/Task/User/Todo"
          [matAutocomplete]="searchGroup"
          (input)="search($event.target.value)"
        />

        <mat-autocomplete #searchGroup="matAutocomplete">
          <mat-optgroup
            *ngFor="let group of searchResults$ | async"
            [label]="group.type + 'S'"
          >
            <mat-option
              *ngFor="let data of group.data"
              [routerLink]="getRedirectLink(group.type, data)"
              (click)="clearSearchTerm()"
            >
              <span *ngIf="group.type === 'PROJECT'"
                ><mat-icon class="mr-2">work</mat-icon></span
              >
              <span *ngIf="group.type === 'TASK'"
                ><mat-icon>code</mat-icon>
              </span>
              <span *ngIf="group.type === 'USER'"
                ><mat-icon>person</mat-icon>
              </span>
              <span *ngIf="group.type === 'ISSUE'"
                ><mat-icon>cancel</mat-icon>
              </span>
              <span *ngIf="group.type === 'TODO'"
                ><mat-icon>check_circle</mat-icon>
              </span>
              {{ data.name }}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
      <!-- end of search -->

      <span class="example-spacer"></span>

      <button
        mat-button
        routerLink="/profile"
        *ngIf="isLoggedIn$ | async"
        [matTooltip]="(currentUser$ | async)?.username"
        matTooltipPosition="below"
      >
        <mat-icon>person</mat-icon>
        Profile
      </button>

      <ng-container *ngIf="isLoggedIn$ | async">
        <button
          matTooltip="Notifications"
          matTooltipPosition="below"
          mat-icon-button
          class="mr-4"
          (click)="toggleNotifications($event)"
        >
          <mat-icon
            [matBadge]="notificationMessages.length"
            matBadgeColor="warn"
            >notification_important</mat-icon
          >
        </button>

        <div #notifications class="notification-overlay">
          <div class="notification-list">
            <mat-card
              *ngIf="notificationMessages.length"
              matRipple
              matRippleColor="red"
              matTooltip="Clear all notifications"
              (click)="deleteAllNotifications()"
            >
              <div class="left-and-right">
                Clear All
                <mat-icon class="mr-2">close</mat-icon>
              </div>
            </mat-card>
            <mat-card
              class="notification-item"
              mat-ripple
              *ngFor="let notification of notificationMessages"
            >
              <div class="left-and-right">
                {{ notification.notification }}
                <button
                  mat-icon-button
                  aria-label="Example icon button with a delete icon"
                  (click)="deleteNotification(notification.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card>
            <mat-card
              class="notification-item"
              mat-ripple
              *ngIf="notificationMessages.length === 0"
              >There are no Notifications for you</mat-card
            >
          </div>
        </div>
      </ng-container>

      <button mat-button (click)="logout()" *ngIf="isLoggedIn$ | async">
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <button mat-button routerLink="/login">
          <mat-icon class="mr-1">power_settings_new</mat-icon> Login
        </button>
        <button mat-button routerLink="/signup">
          <mat-icon class="mr-1">person_add</mat-icon> Register
        </button>
      </ng-container>
    </mat-toolbar>
    <mat-card *ngIf="!isOnline" class="bg-danger text-white text-center"
      >No Network Connection, Please Connect to the internet to use all the
      features of SPM.</mat-card
    >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
