<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>
<!--Waves Container-->
<div>
  <svg
    class="waves"
    style="z-index: -1; position: fixed"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        fill="rgba(179, 255, 200,0.5)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="3"
        fill="rgba(195, 35, 235,0.35)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="5"
        fill="rgba(45, 35, 235,0.2)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="7"
        fill="rgba(35, 138, 235,0.3)"
      />
    </g>
  </svg>
</div>
<!--Waves end-->
<ng-container *ngIf="task$ | async as task">
  <mat-card class="mx-3 my-2">
    <div class="row">
      <div class="col-3">
        <!-- back button does not look good on this page -->
        <mat-card-title> {{ task.name }} Scrum Board</mat-card-title>
        <mat-card-subtitle
          [matTooltip]="'Created Date: ' + (task.createdDate | date)"
          >Created On {{ task.createdDate | date }}</mat-card-subtitle
        >
        <mat-chip-list aria-label="Task Details" class="pb-2">
          <mat-chip color="primary" selected
            >Deadline: {{ task.deadLine | date }}</mat-chip
          >
          <mat-chip color="warn"
            >Assigned to: {{ task.user?.username }}</mat-chip
          >
        </mat-chip-list>
      </div>
      <div class="col-7 p-2">
        <div class="p-2">
          <div class="left-and-right">
            <mat-chip-list aria-label="Todo Statistics">
              <mat-chip color="primary" selected
                >Total todos: {{ task.todos?.length }}</mat-chip
              >
              <mat-chip color="warn" selected
                >To Do: {{ getStats(task.todos)["TO_DO"] }}</mat-chip
              >
              <mat-chip color="accent" selected
                >In Progress:
                {{ getStats(task.todos)["IN_PROGRESS"] }}</mat-chip
              >
              <mat-chip class="bg-success" selected
                >Done: {{ getStats(task.todos)["DONE"] }}</mat-chip
              >
              <mat-chip
                >Status:
                {{ task.status.replace("_", " ") | titlecase }}</mat-chip
              >
            </mat-chip-list>
          </div>
        </div>
        <mat-progress-bar
          mode="determinate"
          [value]="getTodoStats(task.todos).percentage"
        ></mat-progress-bar>
        <p class="pt-2">
          Todos Completed: {{ getTodoStats(task.todos).fraction }}
        </p>
      </div>
      <!-- todo: align this to the right -->
      <div class="col-1">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!canMarkAsCompleted(task)"
          (click)="completeTask(task)"
        >
          <mat-icon>done_all</mat-icon>
          {{ task.status === "COMPLETED" ? "Task Completed" : "Complete Task" }}
        </button>
      </div>
    </div>
  </mat-card>
  <div class="contaier mx-3">
    <div class="mb-4"></div>
    <app-board-dnd
      [todos]="task.todos"
      [taskId]="task.id"
      [canDrag]="canDrag"
    ></app-board-dnd>
    <div class="mb-4"></div>
  </div>
</ng-container>
