<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
  rel="stylesheet"
/>

<div class="mx-2 mt-3 px-3">
  <div class="mx-2">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0 left">
            <button
              (click)="goBack()"
              mat-icon-button
              matTooltip="Go to Previous page"
            >
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <h3 class="mb-0">List Of Projects</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Project Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Completion</th>
                  <th scope="col">Progress Report</th>
                  <th scope="col">Burn Down Chart</th>
                  <th scope="col">Organization Chart</th>
                  <th scope="col" *ngIf="currentUser.role === 'MANAGER'">
                    Employee Report
                  </th>
                </tr>
              </thead>
              <tbody
                *ngIf="projects$ | async as projects; else loadingProjects"
              >
                <tr *ngFor="let project of projects">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{ project.name }}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i
                        class="bg-warning"
                        *ngIf="project.status === 'IN_PROGRESS'"
                      ></i>
                      <i
                        class="bg-success"
                        *ngIf="project.status === 'COMPLETE'"
                      ></i>
                      {{ project.status.replace("_", " ") | titlecase }}
                    </span>
                  </td>
                  <td>{{ project.toDate | date }}</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2"
                        >{{ getProjectProgress(project.tasks) }}%</span
                      >
                      <div>
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            [style.width]="
                              getProjectProgress(project.tasks) + '%'
                            "
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <button
                      class="btn bg-info"
                      [routerLink]="['../project-progress', project.id]"
                    >
                      View Reports
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn bg-info"
                      [routerLink]="['../burn-down-chart', project.id]"
                    >
                      View Reports
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn bg-info"
                      [routerLink]="['../org-chart', project.id]"
                    >
                      View Reports
                    </button>
                  </td>
                  <td *ngIf="currentUser.role === 'MANAGER'">
                    <button
                      class="btn bg-info"
                      [routerLink]="['../emp-list', project.id]"
                    >
                      View Reports
                    </button>
                  </td>
                </tr>
              </tbody>
              <ng-template #loadingProjects>
                <app-loading-spinner class="center"></app-loading-spinner>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
