<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link
  href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
  rel="stylesheet"
/>

<div class="container" *ngIf="issue$ | async as issue">
  <mat-card class="my-3">
    <div>
      <div class="left-and-right">
        <div class="left">
          <button
            (click)="goBack()"
            mat-icon-button
            matTooltip="Go to Previous page"
          >
            <mat-icon>keyboard_backspace</mat-icon>
          </button>

          <mat-card-title class="push-down"
            >Issue Summary: {{ issue.summary }}</mat-card-title
          >
        </div>
        <button
          mat-raised-button
          color="accent"
          [disabled]="!canResolve(issue)"
          (click)="resolveIssue(issue)"
          matTooltip="only managers can resolve issues"
        >
          <mat-icon>settings</mat-icon>
          <span> {{ isResolved(issue) ? "Resolved" : "Resolve" }}</span>
        </button>
      </div>
      <mat-card-subtitle>{{ issue.createdDate | date }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="isResolved(issue)"
        >Resolved On: {{ issue.resolvedData }}</mat-card-subtitle
      >
      <div class="center mt-4">
        <img mat-card-image [src]="issue.image" [alt]="issue.summary" />
      </div>
      <mat-chip-list>
        <mat-chip
          color="primary"
          selected
          [matTooltip]="'Issue Status - ' + (issue.status | titlecase)"
          >{{ issue.status | titlecase }}</mat-chip
        >
        <mat-chip>Assignee - {{ issue.user?.username }}</mat-chip>
        <mat-chip
          *ngIf="issue.priority === 'LOW'"
          matTooltip="Low Priority"
          [matTooltipPosition]="'right'"
          ><mat-icon>keyboard_arrow_down</mat-icon>
          {{ issue.priority | titlecase }}</mat-chip
        >
        <mat-chip
          *ngIf="issue.priority === 'MEDIUM'"
          matTooltip="Medium Priority"
          [matTooltipPosition]="'right'"
          ><mat-icon>unfold_more</mat-icon
          >{{ issue.priority | titlecase }}</mat-chip
        >
        <mat-chip
          *ngIf="issue.priority === 'HIGH'"
          matTooltip="High Priority"
          [matTooltipPosition]="'right'"
          ><mat-icon>keyboard_arrow_up</mat-icon
          >{{ issue.priority | titlecase }}</mat-chip
        >
      </mat-chip-list>
    </div>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card class="my-2">
    <mat-card-title>Comments</mat-card-title>
    <mat-divider></mat-divider>
    <div class="my-4" *ngIf="comments$ | async as comments">
      <mat-card class="comment-card my-2" *ngFor="let comment of comments">
        <div class="left-and-right">
          <mat-card-title [class.text-success]="isMyComment(comment)">
            <mat-icon>person</mat-icon>
            {{ comment.user?.username }}</mat-card-title
          >
          <button
            mat-mat-icon-button
            *ngIf="isMyComment(comment)"
            (click)="deleteComment(comment.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-card-subtitle>{{
          comment.createdDateTime | date
        }}</mat-card-subtitle>
        <mat-card-content>
          <p>
            {{ comment.comment }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-form-field
      class="comment-full-width"
      appearance="fill"
      [formGroup]="addCommentForm"
    >
      <mat-label>Leave a comment</mat-label>
      <textarea
        matInput
        placeholder="Ex. This bug must be resolved..."
        formControlName="comment"
      ></textarea>
      <mat-error
        *ngIf="
          (this.addCommentForm.get('comment').dirty ||
            this.addCommentForm.get('comment').touched) &&
          this.addCommentForm.get('comment').errors?.required
        "
      >
        Comment cannot be <strong>empty</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      class="my-2"
      [disabled]="this.addCommentForm.invalid || isResolved(issue)"
      (click)="addComment(issue.id)"
    >
      Add comment
    </button>
  </mat-card>
</div>
