<div class="status-list">
  <div class="px-3 pb-4 pt-3">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip color="warn" class="center">
        {{ lane.title }}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div
    class="issue-card-container pl-2"
    cdkDropList
    [cdkDropListData]="lane.todos"
    (cdkDropListDropped)="drop($event)"
    [id]="lane.title"
  >
    <issue-card *ngFor="let todo of lane.todos" [todo]="todo" class="my-2">
    </issue-card>
  </div>
</div>
