<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<h2 mat-dialog-title>
  Create Issue for <span class="red"> {{ project.name }} </span>
</h2>

<mat-dialog-content [formGroup]="createIssueForm">
  <p>
    <mat-form-field
      class="example-full-width"
      appearance="fill"
      style="width: 100%"
    >
      <mat-label>Issue Summary</mat-label>
      <textarea
        matInput
        placeholder="write Issue Description"
        formControlName="summary"
      ></textarea>
      <mat-error
        *ngIf="
          (this.createIssueForm.get('summary').dirty ||
            this.createIssueForm.get('summary').touched) &&
          this.createIssueForm.get('summary').errors?.required
        "
      >
        Issue Summary is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="LOW"> Low</mat-option>
        <mat-option value="MEDIUM">Medium</mat-option>
        <mat-option value="HIGH">High</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          (this.createIssueForm.get('priority').dirty ||
            this.createIssueForm.get('priority').touched) &&
          this.createIssueForm.get('priority').errors?.required
        "
      >
        Issue priority is required
      </mat-error>
    </mat-form-field>
  </p>

  <div class="form-group files">
    <mat-label>Upload image</mat-label>
    <input
      formControlName="image"
      type="file"
      class="form-control"
      (change)="onFileChange($event)"
      accept="image/*"
      required
    />
  </div>

  <div *ngIf="uploadPercent | async as percent">
    <mat-progress-bar mode="determinate" [value]="percent"></mat-progress-bar>
    <mat-hint class="text-muted">Uploading {{ percent | number }} %</mat-hint>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="push-right">
  <button
    class="mat-raised-button"
    (click)="close(false)"
    style="margin-right: 8px"
  >
    Close
  </button>
  <button
    class="mat-raised-button mat-primary"
    [disabled]="this.createIssueForm.invalid || this.disableButton"
    (click)="createIssue(project.id)"
  >
    Create Issue
  </button>
</mat-dialog-actions>
