<h2 mat-dialog-title>
  Create Issue for <span style="color: red"> Project Name </span>
</h2>

<mat-dialog-content>
   <p>
    <mat-form-field
      class="example-full-width"
      appearance="fill"
      style="width: 100%"
    >
      <mat-label>Describe here</mat-label>
      <textarea
        matInput
        placeholder="Add Description"

      ></textarea>
    </mat-form-field>
  </p>
</mat-dialog-content>

<mat-dialog-actions class="push-right">
  <button class="mat-raised-button" (click)="close()" style="margin-right: 8px">
    Close
  </button>
  <button class="mat-raised-button mat-primary">
    Create Issue
  </button>
</mat-dialog-actions>
