<h2 mat-dialog-title>
  Create Task for <span style="color: red">{{ project.name }}</span>
</h2>

<mat-dialog-content [formGroup]="createTaskForm">
  <p>
    <mat-form-field style="width: 50%; padding: 10px">
      <input matInput placeholder="Task Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 50%">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadLine" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill" style="width: 50%; padding: 10px">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="LOW">
          <mat-icon>keyboard_arrow_down</mat-icon> Low</mat-option
        >
        <mat-option value="MEDIUM"
          ><mat-icon>keyboard_capslock</mat-icon> Medium</mat-option
        >
        <mat-option value="HIGH">
          <mat-icon>keyboard_arrow_up</mat-icon> High</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 50%">
      <mat-label>Assign Employee</mat-label>
      <mat-select formControlName="employee">
        <mat-option [value]="user.id" *ngFor="let user of project.users">{{
          user.username + " : " + user.email
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p></p>

  <p>
    <mat-form-field
      class="example-full-width"
      appearance="fill"
      style="width: 100%"
    >
      <mat-label>Leave a comment</mat-label>
      <textarea
        matInput
        placeholder="Add Description"
        formControlName="description"
      ></textarea>
    </mat-form-field>
  </p>
</mat-dialog-content>

<mat-dialog-actions class="push-right">
  <button
    mat-raised-button
    color="warn"
    (click)="close()"
    style="margin-right: 8px"
  >
    Close
  </button>
  <button mat-raised-button color="primary" (click)="createTask()">
    Create
  </button>
</mat-dialog-actions>
