<h2 mat-dialog-title>
  Create Task for <span class="red">{{ project.name }}</span>
</h2>

<mat-dialog-content [formGroup]="createTaskForm">
  <p>
    <mat-form-field style="width: 50%; padding: 10px">
      <input matInput placeholder="Task Name" formControlName="name" />
      <mat-error
        *ngIf="
          (this.createTaskForm.get('name').dirty ||
            this.createTaskForm.get('name').touched) &&
          this.createTaskForm.get('name').errors?.required
        "
      >
        Task name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 50%">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadLine" />
      <mat-error
        *ngIf="
          (this.createTaskForm.get('deadLine').dirty ||
            this.createTaskForm.get('deadLine').touched) &&
          this.createTaskForm.get('deadLine').errors?.required
        "
      >
        Task deadline is required
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill" style="width: 50%; padding: 10px">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="LOW"> Low</mat-option>
        <mat-option value="MEDIUM">Medium</mat-option>
        <mat-option value="HIGH">High</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          (this.createTaskForm.get('priority').dirty ||
            this.createTaskForm.get('priority').touched) &&
          this.createTaskForm.get('priority').errors?.required
        "
      >
        Task priority is required
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      style="width: 50%"
      (click)="project.users.length === 0 && showNoEmployeesSnackbar()"
    >
      <mat-label>Assign Employee</mat-label>
      <mat-select formControlName="userId">
        <mat-option [value]="user.id" *ngFor="let user of project.users">{{
          user.username + " : " + user.designation
        }}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          (this.createTaskForm.get('userId').dirty ||
            this.createTaskForm.get('userId').touched) &&
          this.createTaskForm.get('userId').errors?.required
        "
      >
        Employee for this task is required
      </mat-error>
    </mat-form-field>
  </p>

  <p></p>

  <p>
    <mat-form-field
      class="example-full-width"
      appearance="fill"
      style="width: 100%"
    >
      <mat-label>Task Discription</mat-label>
      <textarea
        matInput
        placeholder="Add Description"
        formControlName="description"
      ></textarea>
      <mat-error
        *ngIf="
          (this.createTaskForm.get('description').dirty ||
            this.createTaskForm.get('description').touched) &&
          this.createTaskForm.get('description').errors?.required
        "
        >Task Description is required
      </mat-error>
    </mat-form-field>
  </p>
</mat-dialog-content>

<mat-dialog-actions class="push-right">
  <button
    mat-raised-button
    color="warn"
    (click)="close()"
    style="margin-right: 8px"
  >
    Close
  </button>
  <button
    color="primary"
    mat-raised-button
    [disabled]="this.createTaskForm.invalid"
    (click)="createTask()"
  >
    Create
  </button>
</mat-dialog-actions>
