.board-dnd-list {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.125rem;
  background-color: #f3f4f7;
  flex-shrink: 0;
  width: 33%;
  min-height: 400px;
  min-width: 200px;
}
