<link
  rel="stylesheet"
  type="text/css"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css"
/>
<link
  href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
  rel="stylesheet"
/>
<div class="col-xl-8 col-md-12 pt-1 float-left">
  <div class="card">
    <div class="card-content">
      <div class="card-body cleartfix">
        <div class="media align-items-stretch" *ngIf="user">
          <div class="align-self-center">
            <img
              class="image"
              [src]="
                user.image ||
                'https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?w=2000'
              "
            />
          </div>
          <div class="media-body px-2">
            <h4>Employee Name: {{ user.username }}</h4>
            <span>Employee Role: {{ user.designation || "NA" }}</span>
            <span class="ml-2">|</span>
            <span class="p-2">Status: {{ user.status | titlecase }}</span>
          </div>
          <div class="media-body">
            <h5>Email: {{ user.email }}</h5>
            <h5>Phone: {{ user.phone }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-sm-6 col-12 pt-1 float-right">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="align-self-center">
            <i class="icon-graph success font-large-2 float-left"></i>
          </div>
          <div class="media-body text-right">
            <h3 *ngIf="employeeRank">Rank {{ employeeRank }}</h3>
            <span>Employee Ranking</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-4 col-sm-6 col-12 float-left">
  <div class="card">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex p-2">
          <div class="align-self-center">
            <i class="icon-pencil primary font-large-2 float-left"></i>
          </div>
          <div class="media-body text-right">
            <h3 *ngIf="userTaskStatistics">
              {{ userTaskStatistics["COMPLETED"] }}
            </h3>
            <span>Tasks Completed</span>
          </div>
        </div>

        <div class="media d-flex p-2">
          <div class="align-self-center">
            <i class="icon-speech warning font-large-2 float-left"></i>
          </div>
          <div class="media-body text-right">
            <h3 *ngIf="totalTodosOfUser">{{ totalTodosOfUser }}</h3>
            <span>Total To-Do's</span>
          </div>
        </div>

        <div class="media d-flex p-2">
          <div class="align-self-center">
            <i class="icon-rocket danger font-large-2 float-right"></i>
          </div>
          <div class="media-body text-right">
            <h3 class="danger" *ngIf="employeeProjects$ | async as projects">
              {{ projects.length }}
            </h3>
            <span>Total Projects Working In</span>
          </div>
        </div>
        <div class="media d-flex p-2">
          <div class="align-self-center">
            <i class="icon-pie-chart danger font-large-2 float-right"></i>
          </div>
          <div class="media-body text-right">
            <h3 class="danger" *ngIf="userTaskStatistics">
              {{ userTaskStatistics["IN_PROGRESS"] }}
            </h3>
            <span>Total Tasks Remaining</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-8 col-md-sm-6 col-12 left">
  <div id="container"></div>
</div>
