<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<!--Waves Container-->
<div>
  <svg
    class="waves"
    style="z-index: -1; position: fixed;"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"

  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        fill="rgba(179, 255, 200,0.5)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="3"
        fill="rgba(195, 35, 235,0.35)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="5"
        fill="rgba(45, 35, 235,0.2)"
      />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(35, 138, 235,0.3)" />
    </g>
  </svg>
</div>
<!--Waves end-->
<div class="row">
  <!-- project -->
  <div class="col-md-8" *ngIf="project$ | async as project">
    <div class="container my-3">
      <mat-card>
        <div class="left">
          <button
            (click)="goBack()"
            mat-icon-button
            matTooltip="Go to Previous page"
          >
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
          <div class="lead mt-1" style="font-weight: 500">Project Title - {{ project.name }}</div>
        </div>
        <div class="my-2">
          <mat-chip
            color="primary"
            matTooltip="Manager"
            matTooltipPosition="right"
            >Manager: {{ project.manager?.username }}</mat-chip
          >
          <mat-chip
            class="mx-2"
            color="primary"
            matTooltip="click here to view employees"
            [matTooltipPosition]="'right'"
            (click)="openShowEmployeesDialog(project)"
            >Employees: {{ project.users?.length }}</mat-chip
          >
        </div>

        <mat-divider></mat-divider>
        <div class="row my-3">
          <div class="col">
            <mat-chip-list
              class="mat-chip-list-stacked"
              aria-label="Color selection"
            >
              <mat-chip selected>
                Status: {{ project.status.replace("_", " ") | titlecase }}
              </mat-chip>
              <mat-chip color="primary">
                Created On: {{ project.fromDate | date }}
              </mat-chip>
              <mat-chip color="primary">
                Deadline: {{ project.toDate | date }}
              </mat-chip>
              <!-- todo: substitute project tasks here -->
              <mat-chip color="accent"> Backlogs: 3 </mat-chip>
              <mat-chip color="warn">
                Tasks: {{ project.tasks?.length }}
              </mat-chip>
              <mat-chip color="warn">
                Issues: {{ project.issues?.length }}
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="col-5">
            <app-progress-bar [value]="projectProgress"></app-progress-bar>
          </div>
          <div class="col">
            <mat-card style="width: 18rem">
              <div class="card-header">Issues</div>
              <ul class="list-group list-group-flush">
                <mat-chip class="m-2" (click)="createIssue(project)"
                  >Create Issue</mat-chip
                >
                <mat-chip class="m-2" (click)="toggleShowIssues()"
                  >View All Issues</mat-chip
                >
              </ul>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>

    <!-- issue progress bar  -->
    <div class="container">
      <mat-card class="center">
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: flex-start;
          "
        >
          <button
            mat-raised-button
            color="warn"
            class="mx-3"
            (click)="toggleShowIssues()"
          >
            Issues</button
          ><mat-chip>Resolved {{ getIssueStats(project.issues) }}</mat-chip>
          <mat-progress-bar
            class="container col-7"
            mode="determinate"
            [value]="issueProgress"
            [matTooltip]="'Resolved: ' + issueProgress + ' %'"
            [matTooltipPosition]="'right'"
          ></mat-progress-bar>
          <mat-chip>{{ issueProgress + "%" }}</mat-chip>
        </div>
      </mat-card>
      <mat-divider></mat-divider>
    </div>
    <!-- end issue progress bar  -->

    <!-- issues -->
    <div class="container my-3" *ngIf="showIssues">
      <h4 class="my-3">Project Issues</h4>

      <mat-card
        class="card mr-3 my-2"
        *ngFor="let issue of sortIssues(project.issues)"
      >
        <div class="left-and-right">
          <mat-card-title class="reduce-font text-danger">
            Issue Id: {{ getIssueKey(project.name, issue.id) }}</mat-card-title
          >
          <mat-chip-list>
            <mat-chip>{{ issue.status | titlecase }}</mat-chip>
            <mat-chip
              *ngIf="issue.priority === 'LOW'"
              matTooltip="Low Priority"
              [matTooltipPosition]="'right'"
              ><mat-icon>keyboard_arrow_down</mat-icon>
              {{ issue.priority | titlecase }}</mat-chip
            >
            <mat-chip
              *ngIf="issue.priority === 'MEDIUM'"
              matTooltip="Medium Priority"
              [matTooltipPosition]="'right'"
              ><mat-icon>unfold_more</mat-icon
              >{{ issue.priority | titlecase }}</mat-chip
            >
            <mat-chip
              *ngIf="issue.priority === 'HIGH'"
              matTooltip="High Priority"
              [matTooltipPosition]="'right'"
              ><mat-icon>keyboard_arrow_up</mat-icon
              >{{ issue.priority | titlecase }}</mat-chip
            >
          </mat-chip-list>
        </div>
        <mat-card-subtitle>{{ issue.createdDate | date }}</mat-card-subtitle>
        <mat-card-content>
          <p>{{ issue.summary }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/issue-detail', issue.id]">
            View Details
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="!project.issues.length"
        >No issues found for this project</mat-card
      >
    </div>
    <!-- end issues -->
  </div>

  <!-- end of project -->
  <mat-divider [vertical]="true"></mat-divider>
  <!-- tasks -->
  <div class="col-md-3 tasks">
    <div class="stats container my-3">
      <mat-card-title class="mb-3"> My Tasks </mat-card-title>

      <mat-form-field appearance="fill">
        <mat-label>Task Progress</mat-label>
        <mat-select
          [(value)]="defaultTaskCategory"
          (selectionChange)="onTaskCategoryChange($event.value)"
        >
          <mat-option value="ALL">All</mat-option>
          <mat-option value="IN_PROGRESS">In Progress</mat-option>
          <mat-option value="COMPLETED">Completed</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- task -->
      <div *ngIf="tasks$ | async as tasks; else loadingTasks">
        <mat-card class="my-2" *ngFor="let task of tasks">
          <div class="left-and-right">
            <mat-card-title class="reduce-font">{{ task.name }}</mat-card-title>
            <mat-icon *ngIf="task.priority === 'LOW'" matTooltip="Low Priority"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon
              *ngIf="task.priority === 'MEDIUM'"
              matTooltip="Medium Priority"
              >unfold_more</mat-icon
            >
            <mat-icon
              *ngIf="task.priority === 'HIGH'"
              matTooltip="High Priority"
              >keyboard_arrow_up</mat-icon
            >
          </div>
          <mat-chip-list>
            <mat-chip color="primary">
              <mat-chip-avatar>
                <mat-icon>person</mat-icon>
              </mat-chip-avatar>
              {{ task.user.username }}
            </mat-chip>
            <mat-chip color="warn" selected
              >Deadline - {{ task.deadLine | date }}</mat-chip
            >
          </mat-chip-list>
          <mat-card-subtitle class="my-2">{{
            task.description
          }}</mat-card-subtitle>
          <mat-card-actions>
            <button
              mat-button
              color="warn"
              [routerLink]="['../../task-detail', task.id]"
            >
              View Details
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card *ngIf="tasks.length === 0">There are no tasks</mat-card>
      </div>
      <ng-template #loadingTasks>
        <app-loading-spinner class="center"></app-loading-spinner>
      </ng-template>
    </div>
  </div>
  <!-- end of tasks -->
</div>
