<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
  rel="stylesheet"
/>

<div class="m-2 container">
  <div class="mx-2">
    <!-- Table -->
    <h2 class="mb-4 pt-5">
      <button
        (click)="goBack()"
        mat-icon-button
        matTooltip="Go to Previous page"
      >
        <mat-icon>keyboard_backspace</mat-icon></button
      >Reporting: Employee's List Dashboard
    </h2>
    <div class="row">
      <div class="col" *ngIf="users$ | async as users">
        <div class="card shadow" *ngIf="users.length">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Employee Status</th>
                  <th scope="col">Employee Email</th>
                  <th scope="col">Performance Reports</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <div class="align-self-center">
                          <i class="icon-user success"></i>
                        </div>
                        <span class="mb-0 text-sm"> {{ user.username }}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i
                        class="bg-warning"
                        *ngIf="user.status === 'UNVERIFIED'"
                      ></i>
                      <i
                        class="bg-danger"
                        *ngIf="user.status === 'DISABLED'"
                      ></i>
                      <i
                        class="bg-success"
                        *ngIf="user.status === 'VERIFIED'"
                      ></i>
                      {{ user.status }}
                    </span>
                  </td>
                  <td>{{ user.email }}</td>
                  <td>
                    <button
                      class="btn bg-info"
                      [routerLink]="[
                        '../../employee-progress',
                        user.id,
                        projectId
                      ]"
                    >
                      View Reports
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="..."></nav>
          </div>
        </div>
        <mat-card *ngIf="!users.length">no users found</mat-card>
      </div>
    </div>
  </div>
</div>
