<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<h4 class="mx-5 mt-1">Project Name Burn Down Charts</h4>
<div class="mx-3">
  <div id="overall-burndown" class="burndown mt-2"></div>
  <div id="issues-burndown" class="issue-burndown mt-2"></div>
  <div id="tasks-burndown" class="tasks-burndown mt-2 mb-2"></div>
</div>
