.burndown {
  width: 100%;
  height: auto;
  padding: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

.issue-burndown {
  width: 100%;
  padding: 0 50px;
  height: auto;
  border-radius: 10px;
}

.tasks-burndown {
  width: 100%;
  padding: 50px;
  height: auto;
  border-radius: 10px;
}
