<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="https://code.highcharts.com/modules/exporting.js"></script>
<!-- optional -->
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div class='box' style="z-index: -1;">
  <div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>
</div>

<mat-card class="mx-5 mt-4 p-3" *ngIf="project"
  >{{ project.name }} Report</mat-card
>

<div>
  <mat-grid-list cols="6" rowHeight="1:1.7">
    <mat-grid-tile colspan="3">
      <div id="container-donut-chart"></div>
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <div id="container-area-chart"></div>
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <div id="container-pie-chart"></div>
    </mat-grid-tile>

    <mat-grid-tile colspan="3">
      <div id="container-bar-chart"></div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
