<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>

<div class="row row-height">
  <!-- project card -->

  <div
    class="col-md-9 border-right"
    *ngIf="project$ | async as project; else loadingProject"
  >
    <div class="container my-3">
      <app-project-card
        [showBackButton]="true"
        [showAddEmps]="true"
        [showAddTask]="true"
        [showIssueStats]="true"
        [showViewDetailsButton]="false"
        [project]="project"
        (showIssues)="toggleShowIssues()"
      >
      </app-project-card>
    </div>

    <div class="container my-3" *ngIf="showIssues">
      <h4 class="my-3">Project Issues</h4>

      <div class="horizontal-row">
        <mat-card class="card mr-3" *ngFor="let issue of project.issues">
          <div class="left-and-right">
            <mat-card-title class="reduce-font text-danger">
              {{ getIssueKey(project.name, issue.id) }}</mat-card-title
            >
            <mat-chip>{{ issue.status | titlecase }}</mat-chip>
          </div>
          <mat-card-subtitle>{{ issue.createdDate | date }}</mat-card-subtitle>
          <mat-card-content>
            <p>{{ issue.summary }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="['/issue-detail', issue.id]">
              View Details
            </button>
          </mat-card-actions>
        </mat-card>

        <mat-card *ngIf="!project.issues.length"
          >No issues found for this project</mat-card
        >
      </div>
    </div>
  </div>

  <ng-template #loadingProject>
    <app-loading-spinner class="center"></app-loading-spinner>
  </ng-template>

  <!-- stats -->
  <div class="col-md-3 tasks">
    <div class="stats container my-3">
      <mat-card-title class="mb-3"> Tasks </mat-card-title>

      <mat-form-field appearance="fill">
        <mat-label>Task Progress</mat-label>
        <mat-select
          [(value)]="defaultTaskCategory"
          (selectionChange)="onTaskCategoryChange($event.value)"
        >
          <mat-option value="ALL">All</mat-option>
          <mat-option value="IN_PROGRESS">In Progress</mat-option>
          <mat-option value="COMPLETED">Completed</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- task -->
      <div *ngIf="tasks$ | async as tasks; else loadingTasks">
        <mat-card class="my-2" *ngFor="let task of tasks">
          <div class="left-and-right">
            <mat-card-title class="reduce-font">{{ task.name }}</mat-card-title>
            <mat-icon *ngIf="task.priority === 'LOW'" matTooltip="Low Priority"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon
              *ngIf="task.priority === 'MEDIUM'"
              matTooltip="Medium Priority"
              >unfold_more</mat-icon
            >
            <mat-icon
              *ngIf="task.priority === 'HIGH'"
              matTooltip="High Priority"
              >keyboard_arrow_up</mat-icon
            >
          </div>
          <mat-chip-list>
            <mat-chip color="primary">
              <mat-chip-avatar>
                <mat-icon>person</mat-icon>
              </mat-chip-avatar>
              {{ task.user.username }}
            </mat-chip>
            <mat-chip color="warn" selected
              >Deadline - {{ task.deadLine | date }}</mat-chip
            >
          </mat-chip-list>
          <mat-card-subtitle class="my-2">{{
            task.description
          }}</mat-card-subtitle>
          <mat-card-actions>
            <button
              mat-button
              color="warn"
              [routerLink]="['../../task-detail', task.id]"
            >
              View Details
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card *ngIf="tasks.length === 0">There are no tasks</mat-card>
      </div>
      <ng-template #loadingTasks>
        <app-loading-spinner class="center"></app-loading-spinner>
      </ng-template>
    </div>
  </div>
</div>
