<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>

<div>
  <svg
    class="waves"
    style="z-index: -1; position: fixed"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"
  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        fill="rgba(179, 255, 200,0.5)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="3"
        fill="rgba(195, 35, 235,0.35)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="5"
        fill="rgba(45, 35, 235,0.2)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="7"
        fill="rgba(35, 138, 235,0.3)"
      />
    </g>
  </svg>
</div>

<div class="row row-height" *ngIf="projects$ | async as projects">
  <div class="col-md-9 border-right">
    <div class="container my-3">
      <div class="left-and-right">
        <h4 class="py-2">Projects</h4>
        <div class="right options">
          <!-- search: START -->
          <mat-form-field appearance="fill">
            <mat-label>Search Project</mat-label>
            <input
              #projectSearch
              type="search"
              matInput
              [matAutocomplete]="auto"
              (input)="searchProject($event.target.value)"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let project of projects; trackBy: trackByFn"
                [value]="project.name"
                [routerLink]="['project-detail', project.id]"
              >
                {{ project.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- search: END -->

          <!-- sort: START -->
          <mat-form-field appearance="fill">
            <mat-label>Sort By</mat-label>
            <mat-select
              #sort
              [value]="defaultSort"
              (selectionChange)="onSortChange($event.value)"
            >
              <mat-option value="name">Title</mat-option>
              <mat-option value="fromDate">Created Date</mat-option>
              <mat-option value="toDate">Deadline Date</mat-option>
              <mat-option value="tasks">Number Of Tasks</mat-option>
              <mat-option value="issues">Number Of Issues</mat-option>
              <mat-option value="employees">Number Of Employees</mat-option>
              <mat-option value="progress">Project Progress</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- sort: END -->

          <!-- sortOrder: START -->
          <mat-button-toggle-group
            #sortOrder
            class="button-toggle"
            appearance="legacy"
            name="Sort Order"
            aria-label="Sort Order"
            [value]="defaultSortOrder"
            (change)="onSortOrderChange($event.value)"
          >
            <mat-button-toggle value="asc">Ascending</mat-button-toggle>
            <mat-button-toggle value="desc">Descending</mat-button-toggle>
          </mat-button-toggle-group>
          <!-- sortOrder: END -->

          <!-- reset: START -->
          <button
            mat-icon-button
            matTooltip="Reset Sort"
            matTooltipPosition="right"
            class="reset-button"
            aria-label="Example icon button with a vertical three dot icon"
            (click)="resetProjectOptions()"
          >
            <mat-icon style="color: green">sync</mat-icon>
          </button>
          <!-- reset: END -->
        </div>
      </div>
      <app-project-card
        *ngFor="let project of projects"
        [project]="project"
      ></app-project-card>
      <div class="center my-3">
        <button
          *ngIf="loadMoreProjects$ | async"
          mat-button
          color="primary"
          class="content-center"
          (click)="getMoreProjects()"
        >
          Load More <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
      <mat-card *ngIf="projects?.length === 0"
        >There are no Projects, Please Add A Project</mat-card
      >
    </div>
  </div>

  <div class="col-md-3 users">
    <div class="stats container my-3">
      <h4 class="mb-4">Verified Employees</h4>
      <ng-container *ngIf="users$ | async as users">
        <mat-card *ngFor="let user of users" class="my-2">
          <mat-card-header>
            <div
              mat-card-avatar
              [ngStyle]="{
                'background-size': 'cover',
                'background-image': 'url(' + loadImage(user) + ')'
              }"
            ></div>
            <mat-card-title>{{ user.username }}</mat-card-title>
            <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card *ngIf="users?.length === 0">There are no users</mat-card>
      </ng-container>

      <div class="center my-3">
        <button
          *ngIf="loadMoreUsers$ | async"
          mat-button
          color="primary"
          class="content-center"
          (click)="getMoreUsers()"
        >
          Load More <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="errors.length">
  <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
    {{ error }}
  </div>
</div>

<div class="center loading-screen" *ngIf="isLoading$ | async">
  <app-loading-spinner></app-loading-spinner>
</div>
