<mat-card class="example-card">
  <div class="left-and-right">
    <div class="my-flex-start">
      <button *ngIf="showBackButton" (click)="goBack()" mat-icon-button>
        <mat-icon>keyboard_backspace</mat-icon>
      </button>

      <mat-card-title class="mb-3 push-down">
        {{ project.name }}
      </mat-card-title>
    </div>
    <button
      *ngIf="showAddTask"
      mat-button
      color="primary"
      (click)="openCreateTaskDialog(project)"
    >
      <mat-icon>add</mat-icon> Add Task
    </button>
  </div>

  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" selected>{{ project.status }}</mat-chip>
    <mat-chip color="warn" selected
      >Deadline - {{ project.toDate | date }}</mat-chip
    >
    <mat-chip
      matTooltip="click here to view employees"
      (click)="openShowEmployeesDialog(project.users)"
      >Employees - {{ project.users?.length }}</mat-chip
    >
    <mat-chip>Tasks - 6</mat-chip>
    <mat-chip>Backlogs - 3</mat-chip>
    <mat-chip>Completed - 3</mat-chip>
    <mat-chip color="accent" selected>{{ project.manager?.username }}</mat-chip>
  </mat-chip-list>

  <mat-card-subtitle class="py-2">{{
    project.fromDate | date
  }}</mat-card-subtitle>

  <mat-card-content>
    <p>{{ project.description }}</p>
  </mat-card-content>
  <!-- todo: calculate progress based on tasks completed -->
  <app-progress-bar [value]="65"></app-progress-bar>
  <div class="row">
    <div class="col-md-4 left" *ngIf="showAddEmps">
      <mat-form-field
        appearance="fill"
        *ngIf="users$ | async as users"
        (click)="users.length === 0 && showNoEmployeesSnackbar()"
      >
        <mat-hint>Assign Employees to Project</mat-hint>
        <mat-label>Employees</mat-label>
        <mat-select multiple [(value)]="employees">
          <mat-option *ngFor="let user of users" [value]="user.id">{{
            user.username + " : " + user.email
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        (click)="addEmployees()"
      >
        <mat-icon style="color: green">sync</mat-icon>
      </button>
    </div>

    <div class="col-md-8" *ngIf="showIssueStats">
      <mat-card>
        <app-pie-chart></app-pie-chart>
        <mat-card-actions>
          <button mat-button>View All Issues</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-card-actions *ngIf="showViewDetailsButton">
    <button
      [routerLink]="['/project-detail', project.id]"
      mat-raised-button
      color="primary"
    >
      View Details
    </button>
  </mat-card-actions>
</mat-card>

<mat-divider></mat-divider>
