.push-to-right {
  display: flex;
  justify-content: flex-end;
}

.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.left-and-right {
  display: flex;
  justify-content: space-between;
}

mat-chip {
  padding: 4px 9px !important;
  font-size: 0.7em;
}

.mat-badge-content {
  font-family: "Material Icons";
}
