<mat-card>
  <mat-card-title class="py-3">Edit Profile Details</mat-card-title>

  <mat-card-content class="py-2">
    <form [formGroup]="editProfileForm">
      <p>
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Email"
            disabled
            formControlName="email"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
          <mat-error> Username is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>

      <p class="mb-3">
        <mat-form-field class="example-full-width">
          <input
            type="tel"
            matInput
            placeholder="Phone number"
            formControlName="phone"
          />
          <mat-hint>+91</mat-hint>
          <mat-error> Phone number is <strong>required</strong> </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Designation</mat-label>
          <mat-select formControlName="designation">
            <mat-option value="DEVELOPER">Developer</mat-option>
            <mat-option value="TESTER">Tester</mat-option>
            <mat-option value="DEVOPS">Devops</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <div class="form-group files">
        <mat-label>Upload image</mat-label>
        <input
          (change)="onFileChange($event)"
          type="file"
          class="form-control"
          accept="image/*"
        />
      </div>
      <h1 *ngIf="currentUser.image" class="my-2">Preview</h1>

      <div class="center mb-3">
        <img
          *ngIf="currentUser.image"
          [src]="currentUser.image"
          class="image"
        />
      </div>

      <div *ngIf="uploadPercent | async as percent">
        <mat-progress-bar
          mode="determinate"
          [value]="percent"
        ></mat-progress-bar>
        <mat-hint class="text-muted"
          >Uploading {{ percent | number }} %</mat-hint
        >
      </div>

      <div class="button mt-5">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="this.editProfileForm.invalid || this.disableButton"
          (click)="editProfile()"
        >
          Save Changes
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
