<article class="leaderboard">
  <header>
    <h1 class="leaderboard__title">
      <span class="leaderboard__title--top">Set Designation of Employees</span>
    </h1>
  </header>

  <main class="leaderboard__profiles">
    <article
      class="leaderboard__profile"
      *ngFor="let user of employees; let i = index"
    >
      <img
        [src]="user.image || avatarImage"
        [alt]="user.username"
        class="leaderboard__picture"
      />
      <span class="leaderboard__name ml-2">{{ user.username }}</span>
      <mat-form-field>
        <mat-label>Designation</mat-label>
        <mat-select [(ngModel)]="designations[i]">
          <mat-option value="DEVELOPER">Developer</mat-option>
          <mat-option value="TESTER">Tester</mat-option>
          <mat-option value="DEVOPS">Devops</mat-option>
        </mat-select>
      </mat-form-field>
    </article>
    <div mat-dialog-actions class="right">
      <button
        mat-raised-button
        color="warn"
        [disabled]="isAnyDesignationNotSet()"
        (click)="setDesignations()"
      >
        Continue
      </button>
      <button mat-button (click)="close(false)">Close</button>
    </div>
  </main>
</article>
