.search {
  width: 20vw !important;
}

.transform-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field-list{
  height: 25vh !important;
  overflow: auto;
}

