<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="expand to view side navigation bar"
  >
    <mat-icon (click)="toggleSideNav()">menu</mat-icon>
  </button>
  <span class="px-2">SPM</span>
  <button mat-button [routerLink]="'/manager'">
    <mat-icon>home</mat-icon> Home
  </button>

  <button mat-button [matMenuTriggerFor]="projects">Projects</button>
  <mat-menu #projects="matMenu">
    <button mat-menu-item>Project 1</button>
    <button mat-menu-item>Project 2</button>
  </mat-menu>

  <button matTooltip="Notifications" mat-icon-button class="mr-4">
    <mat-icon matBadge="15" matBadgeColor="warn"
      >notification_important</mat-icon
    >
  </button>

  <mat-form-field class="example-full-width mx-2" appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput placeholder="" />
  </mat-form-field>

  <span class="example-spacer"></span>
  <button mat-button routerLink="/profile">
    <mat-icon>person</mat-icon>
    Profile
  </button>
  <button mat-button><mat-icon>exit_to_app</mat-icon> Logout</button>
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/signup">Register</button>
</mat-toolbar>
