<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<link
  href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
  rel="stylesheet"
/>

<p class="mx-3 my-2">
  <mat-toolbar>
    <span>{{ currentUser.username }} Dashboard</span>
  </mat-toolbar>
</p>

<ng-container *ngIf="projects$ | async as projects">
  <div class="container-fluid">
    <app-project-card
      *ngFor="let project of projects"
      appSpacing
      [margin]="100"
      [padding]="10"
      [project]="project"
    ></app-project-card>
  </div>
</ng-container>

<div class="center loading-screen" *ngIf="isLoading$ | async">
  <app-loading-spinner></app-loading-spinner>
</div>
