<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<!--Waves Container-->
<div>
  <svg
    class="waves"
    style="z-index: -1; position: fixed;"
    viewBox="0 24 150 28"
    preserveAspectRatio="none"
    shape-rendering="auto"

  >
    <defs>
      <path
        id="gentle-wave"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="parallax">
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="0"
        fill="rgba(179, 255, 200,0.5)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="3"
        fill="rgba(195, 35, 235,0.35)"
      />
      <use
        xlink:href="#gentle-wave"
        x="48"
        y="5"
        fill="rgba(45, 35, 235,0.2)"
      />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(35, 138, 235,0.3)" />
    </g>
  </svg>
</div>
<!--Waves end-->
<p class="mx-3 my-2">
  <mat-toolbar>
    <span>{{ currentUser.username }} Dashboard</span>
  </mat-toolbar>
</p>

<ng-container *ngIf="projects$ | async as projects">
  <div class="container-fluid">
    <app-project-card
      *ngFor="let project of projects"
      [project]="project"
    ></app-project-card>
    <div class="center my-3">
      <button
        *ngIf="loadMoreProjects$ | async"
        mat-button
        color="accent"
        class="content-center"
        (click)="loadMoreProjects()"
      >
        Load More <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
    <mat-card *ngIf="projects?.length === 0"
      >You have not been assigned to any projects yet</mat-card
    >
  </div>
</ng-container>

<div class="container" *ngIf="errors.length">
  <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
    {{ error }}
  </div>
</div>

<div class="center loading-screen" *ngIf="isLoading$ | async">
  <app-loading-spinner></app-loading-spinner>
</div>
